<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Maquinascontrolador</servlet-name>
        <servlet-class>Servlets.Maquinascontrolador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarUsuariosControlador</servlet-name>
        <servlet-class>Servlets.GestionarUsuariosControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ejercicioscontrolador</servlet-name>
        <servlet-class>Servlets.Ejercicioscontrolador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rutinacontrolador</servlet-name>
        <servlet-class>Servlets.Rutinacontrolador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FichaMedicaControlador</servlet-name>
        <servlet-class>Servlets.FichaMedicaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>Servlets.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarRutinas</servlet-name>
        <servlet-class>Servlets.VisualizarRutinas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Maquinascontrolador</servlet-name>
        <url-pattern>/Maquinascontrolador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarUsuariosControlador</servlet-name>
        <url-pattern>/GestionarUsuariosControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ejercicioscontrolador</servlet-name>
        <url-pattern>/Ejercicioscontrolador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rutinacontrolador</servlet-name>
        <url-pattern>/Rutinacontrolador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FichaMedicaControlador</servlet-name>
        <url-pattern>/FichaMedicaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarRutinas</servlet-name>
        <url-pattern>/VisualizarRutinas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
